# CMake Usual Suspects
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# VSCode
.vscode
.vs
.settings

# Build
[bB]uild
[dD]ebug
[rR]elease

# debuggrs
*.launch

# dot files
*.dot*
